PORT=3000

NODE_ENV='production'
#NODE_ENV='dev'

# Variables for running app
DB_HOST="localhost"
DB_PORT="your_db_port"
DB_NAME="postgres"
DB_USERNAME="postgres"
DB_PASS="securepassword"

# Variables for running app with dev server
DEV_DB_HOST="localhost"
DEV_DB_PORT="your_test_db_port"
DEV_DB_NAME="postgres_test"
DEV_DB_USERNAME="postgres"
DEV_DB_PASS="securepassword"

